@import '~antd/dist/antd.css';
@import "css/blog.css";
@import "css/events.css";
@import "css/player.scss";
@import "css/courses.scss";

.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.ant-layout-header {
    z-index: 100;
}

.ant-layout-header .logo {
    /*width: 120px;*/
    /*height: 31px;*/
    /*background: rgba(255,255,255,.2);*/
    margin: 0 24px 0 24px;
    float: left;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.custom .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.custom  .trigger:hover {
    color: #1890ff;
}

.custom  .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}


.ant-card {
    margin-bottom: 10px;
}










